*{
  margin: 0px;
}
.loader {
  width: fit-content;
  height: fit-content;
  background-color: rgb(58, 58, 58);
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.loader:hover {
  background-color: rgb(26, 26, 26);
}

.loader:hover svg {
  color: white;
}

.loader svg {
  color: rgba(255, 255, 255, 0.651);
  transform: scale(1.2);
  transition: 0.2s;
}

/* .point {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: rgb(0, 255, 0);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

/* .point::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: rgb(0, 255, 0);
    border-radius: 25px;
    animation: loop 1s 0s infinite;
  } */

@keyframes loop {
  0% {
    background-color: rgb(0, 255, 0);
    width: 1px;
    height: 1px;
  }

  100% {
    background-color: rgba(0, 255, 0, 0);
    width: 30px;
    height: 30px;
  }
}

.btnSearch {
  border: none;
  /* background-color: white; */
  background-color: rgba(28, 37, 54, 1);
  color: white;
  padding: 10px;
  margin-top: 5px;

}

.top {
  display: flex;
  justify-content: space-between;
  background-color: rgba(28, 37, 54, 1);
  height: 50px;
}

.bellIcon {
  color: white;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

.size-6 {
  width: 20px;
  margin-right: 20px;

}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 200px;
  background-color: rgba(28, 37, 54, 1);
  height: 770px;
}
.dashBdOrder{
background-color:rgba(28, 37, 54, 1) ;
color: white;
border:none;
}
.dashBdProd{
background-color:rgba(28, 37, 54, 1) ;
color: white;
border:none;
}
.dashBdOther{
background-color:rgba(28, 37, 54, 1) ;
color: white;
border:none;
}
.dashBd{
background-color:rgb(255, 255, 255) ;
color: black;
margin-top: 50px;
border: none;
border-radius: 4px;
}
.sec1{
  display: flex;
}
.sales{
  display: flex;
  gap: 30px;
  background-color: rgba(254, 243, 242, 1);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
.cost{
  display: flex;
  gap: 30px;
  background-color:rgba(255, 250, 235, 1);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
.profit{
  display: flex;
  gap: 30px;
  background-color:rgba(240, 253, 249, 1);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
.diagrama{
  width: 630px;
  /* border: 0.1px solid silver; */
  /* border-radius: 10px; */
  margin: 10px 10px;
  box-shadow: 0px 2px 10px silver;
}
.size-1{
  width: 15px;
  margin-left: 10px;
}
.topSelling{
  border-radius: 5px;
  width: 350px;
  padding: 10px;
  margin-left: 660px;
  margin-top: -405px;
  box-shadow: 0px 2px 10px silver ;
}
table{
  border: solid 1px silver;
  border-radius: 5px;
}

th, td {
  text-align: left;
  padding: 10px;
}
.recent{
  width: 700px;
  margin-left: 500px;
}
.topSold{
  width: 400px;
  margin-left: 650px;
  margin-top: -285px;
}